<table class="contracts-summary" >
  <tr>
    <td>
      <h3>Total Purchased for All Contracts</h3>
      <p class="bigbold"><%= number_to_currency(@total_purchased_dollars) %></p>
      <p>-or-</p>
      <p class="bigbold">~<%= number_with_precision @total_purchased_hours, :precision => 2 %> hrs</p>
    </td>
    <td>
      <h3>Total Remaining for All Contracts</h3>
      <p class="green bigbold"><%= number_to_currency(@total_remaining_dollars) %></p>
      <p>-or-</p>
      <p class="blue bigbold">~<%= number_with_precision @total_remaining_hours, :precision => 2 %> hrs</p>
    </td>
  </tr>
</table>
</br>
