<div class="contextual">
  <% if (@project != nil) && (User.current.roles_for_project(@project).first.permissions.include?(:create_contracts)) %>
    <%= link_to "New Contract", "contracts/new", :method => :get, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2>Contracts</h2>

<%= render 'contracts_summary' %>
<%= render 'contracts_list' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'contracts', :plugin => 'contracts' %>
<% end %>
