<p>
  <%= check_box_tag "settings[automatic_contract_creation]", true, @settings['automatic_contract_creation'] %>
  <%= label_tag('settings_automatic_contract_creation', "Automatically create new hourly contract when time log entry exceeds current contract: ") %>
</p>
