.contracts-summary td{
  background: #EEE;
  padding: 10px;
  border: 1px solid #E4E4E4;
  text-align: center;
}

.contracts-summary h3{
  font-size: 1.2em;
}

.contracts-list, .time-entries-for-contract-list {
  width: 100%;
}

.bigbold{
  font-size:1.5em;
  font-weight:bold;
}

.green{
  color:#009b00;
}

.blue{
  color:#0072ca;
}

.contract-summary-td {
	width: 60%;
	padding-right: 10px;
}

.hours-summary-td {
	width: 35%;
}

fieldset#contractor_rates { 
  width: 500px;
}

/***** Flash & error messages ****/
div.flash.contract {
  background: url(../images/true.png) 8px 5px no-repeat;
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;
}
